---
layout: page
title: Publications – Antidepressant Outcomes in Depression
permalink: /project/mdd-publications/
---

<h2>Relevant Publications</h2>

<ul>
  <li><strong>Islam, F.</strong>, et al. (2023). <em>Genetic variation in CYP2C19 and antidepressant response in MDD</em>. <i>Journal of Psychiatric Genetics</i>.</li>
  <li><strong>Islam, F.</strong>, et al. (2022). <em>Epigenetic markers associated with SSRI side effects</em>. <i>Translational Psychiatry</i>.</li>
  <!-- Add more as needed -->
</ul>